# This is a basic workflow to help you get started with Actions
name: develop

on:
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ self-hosted ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Databricks Repos Pull (PROD)
        run: |
          curl -X PATCH https://tacademykr-asacanalysis.cloud.databricks.com/api/2.0/repos/${{ secrets.DATABRICKS_PROD_REPO_ID }} \
                -H 'Authorization: Bearer ${{ secrets.DATABRICKS_BEARER }}' \
                -d '{"branch": "main"}'
